<p id="notice"><%= notice %></p>

<h1>Vagas Diponíveis</h1>

<br>

<%= grid(@vagas_grid) do |g|

  g.column name:  'ID', attribute: 'id', filter: false

  g.column name:  'Cargo', attribute: 'cargo'
  
  g.column name:  'Cidade', attribute: 'nome',  model: 'Municipio' do |vaga|
    vaga.cidade.nome if vaga.cidade
  end
  
  g.column name:  'Faixa salarial', attribute: 'valor', custom_filter: :auto , model: 'FaixaSalarial' do |vaga|
    vaga.faixa_salarial.valor if vaga.faixa_salarial
  end

  g.column name: 'Quantidade', attribute: 'quantidade', filter: false
  
  g.column name: 'Início Inscrição', attribute: 'data_inicio_inscricao', filter: false do |vaga|
    vaga.data_inicio_inscricao.strftime("%d/%m/%Y")
  end
  
  g.column name: 'Término Inscrição', attribute: 'data_termino_inscricao', filter: false do |vaga|
    if vaga.data_termino_inscricao != nil
      vaga.data_termino_inscricao.strftime("%d/%m/%Y")
    end
  end
  
  g.column do |vaga|
    if (current_user && current_user.candidato?) 
      if(@candidaturas.include?(vaga.id))
        label_tag('Já Candidatou')
      else
        link_to('Candidatar', "/candidaturas/" + vaga.id.to_s)
      end
    end
  end
  
end -%>

<br><br>