<p id="notice"><%= notice %></p>

<h1>Vagas Diponíveis</h1>

<br>

<%= grid(@vagas_grid) do |g|

  g.column name:  'ID', attribute: 'id', filter: false

  g.column name:  'Cargo', attribute: 'cargo'
  
  g.column name:  'Cidade', attribute: 'nome',  model: 'Municipio' do |vaga|
    vaga.cidade.nome if vaga.cidade
  end
  
  g.column name:  'Faixa salarial', attribute: 'valor', custom_filter: :auto , model: 'FaixaSalarial' do |vaga|
    vaga.faixa_salarial.valor if vaga.faixa_salarial
  end

  g.column name:  'Quantidade', attribute: 'quantidade'


end -%>

<br><br>