<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @grau_formacao.descricao %>
</p>

<%= link_to 'Edit', edit_grau_formacao_path(@grau_formacao) %> |
<%= link_to 'Back', graus_formacao_path %>
