<p id="notice"><%= notice %></p>

<p>
  <strong>Valor:</strong>
  <%= @faixa_salarial.valor %>
</p>

<%= link_to 'Edit', edit_faixa_salarial_path(@faixa_salarial) %> |
<%= link_to 'Back', faixas_salariais_path %>
