<h1>Ajuda</h1>
  <h3 style="color:#ccc">Manuais em Arquivos</h3>
  <hr>
  <p>
    <a href="">Manual Usuário</a>
  </p>
  <p>
    <a href="">Manual Administrador</a>
  </p>
  
  <br>
  <h3 style="color:#ccc">Vídeos</h3>
  <hr>

  <p style="font-size:14px;font-weight:bold">
    Módulo Administrador<br>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/6vxSZQsySOg" frameborder="0" allowfullscreen></iframe>
  </p>
  <p style="font-size:14px;font-weight:bold">
    Módulo Contratante<br>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dL2VlgdSSqo" frameborder="0" allowfullscreen></iframe>
  </p>
  <p style="font-size:14px;font-weight:bold">
    Módulo Candidato<br>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/lzMSnZ_Vp9I" frameborder="0" allowfullscreen></iframe>
  </p>

