<h1>Sobre</h1>
<p>
  O SELECAD+ foi idealizado para auxiliar  a seleção de candidatos de forma “descomplicada” permitindo ao Contratante selecionar vários candidados em um único processo de forma rápida e econômica. Aumentando assim a possibilidade de encontrar candidatos com conhecimentos específicos para  a vaga anunciada. 
</p>
