<h1>Sobre</h1>
  <p style="text-align:justify">
    O SELECAD+ foi idealizado para auxiliar a seleção de candidatos de forma “descomplicada” permitindo ao contratante selecionar vários candidados em um único processo de forma rápida e econômica. Aumentando assim a possibilidade de encontrar candidatos com conhecimentos específicos para  a vaga anunciada. 
  </p>
  <p style="text-align:justify">
    No SELECAD+, o Contratante é a pessoa física ou jurídica que faz o cadastro para anunciar vaga de emprego e realizar o processo de seleção de candidatos para as suas vagas ofertadas. Já o Candidato é a pessoa física que faz o cadastro para concorrer a vaga de emprego. O candidato pode buscar vagas ofertadas e enviar currículos, visualizar a quantidade de acessos ao seu currículo pelos contratantes, ter acesso ao histórico das vagas inscritas e visualizar informações sobre o tempo de cadastro do contratante no SELECAD+. Ao final da seleção, o sistema gera um relatório com a classificação e pontuação dos candidatos.
  </p>
  <p style="text-align:justify">
    Espera-se que as funcionalidades do sistema proporcione ao usuários realizarem de forma intuitiva, rápida e econômica a busca de um emprego ou a seleção de um candidato.
  </p>
