<div class='nested-fields'> 
<%= f.select :lingua_id, @linguas.map{ |s| [s.descricao, s.id] }, include_blank: true %>
<%= f.select :nivel_id, @niveis.map{ |s| [s.descricao, s.id] }, include_blank: true %>
<%= link_to_remove_association "remove CandidatoLingua", f %>
</div>