        <tr class="nested-fields">
            <td>
                <%= f.text_field :descricao %>
            </td>
            <td>
               <%= link_to_remove_association "Remover Certificado", f %>
            </td>
        </tr>